{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}ventes
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Conditions générales de ventes</h1>
            <br><br>
            <h2 class="text-center">CONDITIONS DE VENTE</h2> 
            <br>
            <h2 class="text-center">EUROPE DE L’OUEST, EUROPE CENTRALE, EUROPE DE L’EST</h2>
            <br>
            <h2>lES PRESENTES CONDITIONS DE VENTE S'APPLIQUENT À L'EUROPE DE L’OUEST, À L'EUROPE CENTRALE ET À L'EUROPE DE L'EST, À L'EXCEPTION DE LA BULGARIE, DE LA CROATIE, DE LA NORVÈGE, DE LA ROUMANIE, DE LA SLOVAQUIE, DE LA SUISSE ET DE LA TURQUIE RÉGIES PAR DES CONDITIONS DE VENTE DIFFERENTES</h2>
            <br>
            <h3>VEUILLEZ LIRE ATTENTIVEMENT CES CONDITIONS DE VENTE AVANT DE COMMANDER DES PRODUITS EN LIGNE À PARTIR DE LA PLATEFORME FIND YOUR SHIRT.</h3>
            <br>
            <h3>APPLICABILITÉ</h3>
            <br>
            <h3>Vous lisez les présentes conditions de vente (« Conditions de Vente ») parce que vous utilisez un site internet, une expérience numérique, une plateforme de medias sociaux, une application mobile, une technologie portable NIKE ou un de nos autres produits ou services, lesquels font partis de la plateforme Find Your Shirt (« Plateforme »). Ces Conditions de Vente créent un accord juridiquement contraignant entre vous et Find Your Shirt  concernant les commandes passées pour des produits disponibles sur la Plateforme.</h3>
            </div>
        </div>
        </div>   
{% endblock %}