{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Alpine
{% endblock %}

{% block body %}

<div class="contrainer-fluid">
     <div class="row justify-content-center">
      <div class="col-10 text-primary">
           <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Alpine</h1>
           </div>
        </div>
        </div>
{% endblock %}