{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Manchester United
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Manchester United</h1>
            </div>
        </div>
        </div> 
        <div class="card" style="width: 18rem;">
        <img src="images/produits/maillotunited1.png" class="card-img-top" alt="...">
        <div class="card-body">
							<h5 class="card-title">MAILLOT DOMICILE Manchester United 2023/2024 </h5>
              <p class="card-text">
							</p>
							<i class="bi bi-heart"></i>
							<a href="#" class="btn btn-primary">AJOUTER AU PANIER</a>
              	</div>
					</div>   
{% endblock %}