{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Tottenham
{% endblock %}

{% block body %}
     <div class="container-fluid">
       <div class="row justify-content-center">
         <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Tottenham</h1>
            </div>
        </div>
        </div>  

        <div class="card" style="width: 18rem;">
        <img src="images/produits/maillottottenham1.webp" class="card-img-top" alt="...">
        <div class="card-body">
							<h5 class="card-title">MAILLOT TOTTENHAM DOMICILE 2023/2024 </h5>
              <p class="card-text">
								
							</p>
							<i class="bi bi-heart"></i>
							<a href="#" class="btn btn-primary">AJOUTER AU PANIER</a>
              	</div>
					</div>     
{% endblock %}